* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    
}

img {
    width: 300px;
    border-radius: 50%;
}

.apresentacao {
    padding: 15% 0;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: center;
}